@model HomeModel
@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/_Layout_signin.cshtml";
}
<script type="text/javascript" src="~/js/Index.js"></script>


<!-- Navbar -->
<div class="login-page">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/images/login_back.jpg)"></div>
        <!-- End Navbar -->

        <div class="container">
            <div class="content">
                <div id="messageBox" class="alert alert-danger" role="alert" hidden>
                    <div class="container">
                        <strong>Error!</strong>
                        <label id="errorLavel">@ViewData["ErrorMessage"]</label>
                        <!-- TODO：いつか復活させるかも
                        <button id="alartCloseButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                        -->
                    </div>
                </div>
                <div class="col-md-4 ml-auto mr-auto">

                    <form id="forpresenter" class="form" asp-controller="Home" asp-action="PresenterPrepare" hidden>
                        @Html.TextBoxFor(model => model.UserName, new { @id = "inputUserName2" })
                        @Html.TextBoxFor(model => model.GroupId, new { @id = "inputGroupId2" })
                    </form>

                    <form id="foruser" class="form" asp-controller="Home" asp-action="ChatRoom">
                        <div class="card card-login card-plain">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="~/images/N.png" alt="">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "inputUserName", @placeholder = "name" })
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.GroupId, new { @class = "form-control", @id = "inputGroupId", @placeholder = "groupID" })
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button id="joinAudienceButton" class="btn btn-primary btn-round btn-lg btn-block" type="submit" form="foruser">Join as an audience</button>
                            </div>
                            <div class="card-footer text-center">
                                <button id="joinPresenterButton" class="btn btn-secondary btn-round btn-lg btn-block" type="submit" form="forpresenter">Join as a presenter</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>